body {
	text-align: center;
	font-family: 'Signika', sans-serif;
	font-weight: 600;
	background-color: #6B5CA5;
	color: black;
}

h1 {
	padding: 6px;
	text-align: left;
	font-weight: 600;
	font-size: 17px;
}

p {
	padding: 6px;
	text-align: left;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.35;
}

.grid-container {
	display: grid;
	grid-template-rows: 44px 6px repeat(16, 20px) 6px 44px;
	grid-template-columns: 1fr 0px 0px 20px 20px repeat(5, 44px) 1fr;
	grid-template-areas: 
		". . . tips tips tips solution1 solution2 solution3 solution4 ."
		". . . heady heady heady heady heady heady heady ."
		". . . score8_1 score8_2 tryLabel8 try8_1 try8_2 try8_3 try8_4 ."
		". . . score8_3 score8_4 tryLabel8 try8_1 try8_2 try8_3 try8_4 ."
		". . . score7_1 score7_2 tryLabel7 try7_1 try7_2 try7_3 try7_4 ."
		". . . score7_3 score7_4 tryLabel7 try7_1 try7_2 try7_3 try7_4 ."
		". dtopBead6 . score6_1 score6_2 tryLabel6 try6_1 try6_2 try6_3 try6_4 ."
		". dtopBead6 . score6_3 score6_4 tryLabel6 try6_1 try6_2 try6_3 try6_4 ."
		". dtopBead5 . score5_1 score5_2 tryLabel5 try5_1 try5_2 try5_3 try5_4 ."
		". dtopBead5 . score5_3 score5_4 tryLabel5 try5_1 try5_2 try5_3 try5_4 ."
		". dtopBead4 . score4_1 score4_2 tryLabel4 try4_1 try4_2 try4_3 try4_4 ."
		". dtopBead4 . score4_3 score4_4 tryLabel4 try4_1 try4_2 try4_3 try4_4 ."
		". dtopBead3 . score3_1 score3_2 tryLabel3 try3_1 try3_2 try3_3 try3_4 ."
		". dtopBead3 . score3_3 score3_4 tryLabel3 try3_1 try3_2 try3_3 try3_4 ."
		". dtopBead2 . score2_1 score2_2 tryLabel2 try2_1 try2_2 try2_3 try2_4 ."
		". dtopBead2 . score2_3 score2_4 tryLabel2 try2_1 try2_2 try2_3 try2_4 ."
		". dtopBead1 . score1_1 score1_2 tryLabel1 try1_1 try1_2 try1_3 try1_4 ."
		". dtopBead1 . score1_3 score1_4 tryLabel1 try1_1 try1_2 try1_3 try1_4 ."
		". . . . . . . . . . ."
		". . . bead1 bead1 bead2 bead3 bead4 bead5 bead6 .";
	grid-gap: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#background {
	grid-area: 1 / 4 / 2 / 8;
	background-color: #DEE3EE;
	z-index: 0;
}

#helpWindow {
	grid-area: 3 / 4 / 21 / 11;
	background-color: #DEE3EE;
	visibility: hidden;
	z-index: 4;
	overflow: scroll;
}

.centersquare {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	background-color: #649FC9;
}


.label-square {
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
	background-color: #6B5CA5;
	font-weight: 600;
}


#tippy { 
	grid-area: tips; 
	font-weight: 600;
	font-family: 'Signika', sans-serif;
	background-color: #DEE3EE;
	font-size: 14px;
	z-index: 2;
}

#gear {
	grid-area: 1 / 4 / 2 / 6;
	z-index: 3;
	background-color: #DEE3EE;

}

#heady { 
	grid-area: 1 / 7 / 2 / 11;
	font-size: 23px;
	z-index: 1;
	text-align: right;
	font-family: 'Coiny', sans-serif;
	background-color: #DEE3EE;
	letter-spacing: .03em;
} 

#gearImg {

}


#solution1 { 
	grid-area: solution1;
	z-index: 4; 
	background-color: #C4CDE1 }
#solution2 { 
	grid-area: solution2;
	background-color: #C4CDE1 }
#solution3 { 
	grid-area: solution3;
	background-color: #C4CDE1 }
#solution4 { 
	grid-area: solution4;
	background-color: #C4CDE1 }

#try8scores {}
#score8_1 { grid-area: score8_1;}
#score8_2 { grid-area: score8_2; }
#score8_3 { grid-area: score8_3; }
#score8_4 { grid-area: score8_4; }
#tryLabel8 { grid-area: tryLabel8 }
#try8_1 { grid-area: try8_1 }
#try8_2 { grid-area: try8_2 }
#try8_3 { grid-area: try8_3 }
#try8_4 { grid-area: try8_4 }

#score7_1 { grid-area: score7_1 }
#score7_2 { grid-area: score7_2 }
#score7_3 { grid-area: score7_3 }
#score7_4 { grid-area: score7_4 }
#tryLabel7 { grid-area: tryLabel7 }
#try7_1 {grid-area: try7_1 }
#try7_2 {grid-area: try7_2 }
#try7_3 {grid-area: try7_3 }
#try7_4 {grid-area: try7_4 }

#score6_1 { grid-area: score6_1 }
#score6_2 { grid-area: score6_2 }
#score6_3 { grid-area: score6_3 }
#score6_4 { grid-area: score6_4 }
#tryLabel6 { grid-area: tryLabel6 }
#try6_1 { grid-area: try6_1 }
#try6_2 { grid-area: try6_2 }
#try6_3 { grid-area: try6_3 }
#try6_4 { grid-area: try6_4 }

#score5_1 { grid-area: score5_1 }
#score5_2 { grid-area: score5_2 }
#score5_3 { grid-area: score5_3 }
#score5_4 { grid-area: score5_4 }
#tryLabel5 { grid-area: tryLabel5 }
#try5_1 { grid-area: try5_1 }
#try5_2 { grid-area: try5_2 }
#try5_3 { grid-area: try5_3 }
#try5_4 { grid-area: try5_4 }

#score4_1 { grid-area: score4_1 }
#score4_2 { grid-area: score4_2 }
#score4_3 { grid-area: score4_3 }
#score4_4 { grid-area: score4_4 }
#tryLabel4 { grid-area: tryLabel4 }
#try4_1 { grid-area: try4_1 }
#try4_2 { grid-area: try4_2 }
#try4_3 { grid-area: try4_3 }
#try4_4 { grid-area: try4_4 }

#score3_1 { grid-area: score3_1 }
#score3_2 { grid-area: score3_2 }
#score3_3 { grid-area: score3_3 }
#score3_4 { grid-area: score3_4 }
#tryLabel3 { grid-area: tryLabel3 }
#try3_1 { grid-area: try3_1 }
#try3_2 { grid-area: try3_2 }
#try3_3 { grid-area: try3_3 }
#try3_4 { grid-area: try3_4 }

#score2_1 { grid-area: score2_1 }
#score2_2 { grid-area: score2_2 }
#score2_3 { grid-area: score2_3 }
#score2_4 { grid-area: score2_4 }
#tryLabel2 { grid-area: tryLabel2 }
#try2_1 { grid-area: try2_1 }
#try2_2 { grid-area: try2_2 }
#try2_3 { grid-area: try2_3 }
#try2_4 { grid-area: try2_4 }

#score1_1 { grid-area: score1_1 }
#score1_2 { grid-area: score1_2 }
#score1_3 { grid-area: score1_3 }
#score1_4 { grid-area: score1_4 }
#tryLabel1 { grid-area: tryLabel1 }
#try1_1 { grid-area: try1_1 }
#try1_2 { grid-area: try1_2 }
#try1_3 { grid-area: try1_3 }
#try1_4 { grid-area: try1_4 }

#bead1 { grid-area: bead1 }
#bead2 { grid-area: bead2 }
#bead3 { grid-area: bead3 }
#bead4 { grid-area: bead4 }
#bead5 { grid-area: bead5 }
#bead6 { grid-area: bead6 }

#dtopBead1 { grid-area: dtopBead1 }
#dtopBead2 { grid-area: dtopBead2 }
#dtopBead3 { grid-area: dtopBead3 }
#dtopBead4 { grid-area: dtopBead4 }
#dtopBead5 { grid-area: dtopBead5 }
#dtopBead6 { grid-area: dtopBead6 }

/*.hide_me { visibility: visible; }
.also_hide { visibility: visible; }*/